        #introText {
            
            padding-top: 8%;
            text-align: center;
            color: white;
            padding-bottom: 5%;
            font-size: 75px
            
        }
        
        #introParagraph {
            
            text-align: left;
            color: white;
            padding-left: 30%;
            padding-bottom: 8%;
            font-size: 20px
            
        }
        
        .topnav {
            
            background-color: #333;
            overflow: hidden;
            width: 100%;
            
            
        }
        
        .topnav a {
            
            float: right;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            
        }
        
        .topnav a:hover {
            
            background-color: #ddd;
            color: black;
            
        }
        
        .topnav a.active {
            
            background-color: #4CAF50;
            color: white
            
        }
        
        #upSurgeNav{
            
            float: left;
            
        }
        
        #featuresHeadingA {
            
            text-align: right;
            color: white;
            font-size: 40px;
            margin-top: 3%;
            margin-right: 10%;
            
        }
        
        #featuresHeadingB {
            
            text-align: left;
            color: black;
            font-size: 40px;
            margin-top: 3%;
            margin-left: 10%;
             
        }
        
        ul {
            
            margin: 5%; 
            font-size: 20px
            
        }
        
        li {
            
            margin: 5%;
            
        }